.bestsellers {
  padding-top: 40px;

  h2 {
    text-align: center;
    margin: 0;
  }
}

.bestsellers__product-list {
  display: grid;
  grid-template-columns: 160px 160px;
  grid-template-rows: repeat(4, 295px);
  column-gap: 10px;
  row-gap: 25px;
  list-style: none;
  margin: 0;
  padding: 25px 0 0 0;
}

.bestsellers__product-item {
  display: flex;
  flex-direction: column;

  p {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;

    &:first-of-type {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    &:last-of-type {
      position: relative;
      margin: 0;

      &::before {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        width: 124px;
        height: 16px;
        background: url("../img/mobile/product-stars.svg") no-repeat;
      }
    }
  }
}

.bestsellers__dynamic-size,
.bestsellers__dynamic-price {
  span {
    &:last-of-type {
      display: none;
    }
  }
}

.bestsellers__buy-button {
  text-transform: uppercase;
  display: block;
  height: 35px;
  background-color: $purple;
  color: $white;
  margin-top: 38px;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.4s;

  &:hover,
  &:focus {
    opacity: 0.6;
    transition: 0.4s;
  }
}

@media (min-width: $tabletWidth) {
  .bestsellers {
    padding-top: 50px;
  }

  .bestsellers__product-list {
    grid-template-columns: 280px 280px;
    grid-template-rows: 320px 320px;
    column-gap: 18px;
    row-gap: 30px;
    padding-top: 29px;
  }

  .bestsellers__product-item {
    &--XL,
    &--M {
      p {
        &:first-of-type {
          width: 180px;
        }

        &:last-of-type {
          text-align: right;
          margin-right: 40px;

          &::before {
            bottom: -40px;
          }

          &::after {
            content: "2900 Р";
            font-size: 15px;
            text-decoration: line-through;
            font-weight: 400;
            width: 51px;
            color: $grey5;
            position: absolute;
            top: -25px;
            right: 5px;
          }
        }
      }
    }

    &--S,
    &--XS {
      p {
        &::before {
          display: none;
        }

        &:first-of-type {
          margin-bottom: 75px;
        }

        &:last-of-type {
          width: 80px;
          margin-bottom: -45px;

          &::after {
            content: "2900 Р";
            font-size: 15px;
            text-decoration: line-through;
            font-weight: 400;
            width: 51px;
            color: $grey5;
            position: absolute;
            bottom: 0;
            right: -40px;
          }
        }
      }

      .bestsellers__buy-button {
        margin-left: 0;
        align-self: flex-end;
      }
    }

    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(7),
    &:nth-of-type(8) {
      display: none;
    }

    img {
      width: 100%;
    }

    p {
      font-size: 17px;
      line-height: 21px;

      &:first-of-type {
        margin-top: 10px;
      }

      &:last-of-type {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }

  .bestsellers__dynamic-size,
  .bestsellers__dynamic-price {
    span {
      &:first-of-type {
        display: none;
      }

      &:last-of-type {
        display: inline;
      }
    }
  }

  .bestsellers__buy-button {
    width: 140px;
    height: 35px;
    background-color: $red2;
    margin: 15px 0 0 auto;
  }
}

@media (min-width: $desktopWidth) {
  .bestsellers {
    h2 {
      font-size: 30px;
      line-height: 35px;
    }
  }

  .bestsellers__product-list {
    grid-template-columns: 550px 550px;
    grid-template-rows: 495px 445px;
    justify-content: space-between;
    row-gap: 45px;
  }

  .bestsellers__product-item {
    &--XL,
    &--M {
      p {
        &:first-of-type {
          font-size: 26px;
          line-height: 30px;
          width: 278px;
          margin-left: 40px;
        }

        &:last-of-type {
          font-size: 26px;
          line-height: 30px;
          margin-right: 80px;

          &::before {
            bottom: -45px;
            left: 35px;
            width: 176px;
            height: 21px;
            background-size: 176px 21px;
          }

          &::after {
            font-size: 18px;
            width: 56px;
            right: 20px;
          }
        }
      }
    }

    &--S,
    &--XS {
      p {
        &:first-of-type {
          font-size: 26px;
          line-height: 30px;
          width: 490px;
        }

        &:last-of-type {
          font-size: 26px;
          line-height: 30px;
          width: 82px;

          &::after {
            font-size: 18px;
            width: 56px;
            right: -65px;
          }
        }
      }
    }

    img {
      height: 257px;
    }
  }

  .bestsellers__buy-button {
    width: 170px;
    height: 51px;
    margin: 10px 40px 0 auto;
  }
}
