.categories {
  padding-top: 34px;

  h2 {
    text-align: center;
    margin: 0;
  }
}

.categories__main-block {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.categories__block {
  display: block;
  width: 330px;
  height: 160px;
  opacity: 0.8;
  transition: 0.4s;

  &--first {
    background: url("../img/mobile/category-1.png") no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/mobile/category-1@2x.png") no-repeat;
      background-size: 330px 160px;
    }
  }

  &--second {
    margin-top: 12px;
    background: url("../img/mobile/category-2.png") no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/mobile/category-2@2x.png") no-repeat;
      background-size: 330px 160px;
    }
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    opacity: 1;
    transition: 0.4s;
  }
}

@media (min-width: $tabletWidth) {
  .categories {
    padding-top: 50px;
  }

  .categories__main-block {
    flex-direction: row;
    column-gap: 12px;
  }

  .categories__block {
    width: 290px;
    height: 140px;
    background-size: contain;

    &--second {
      margin-top: 0;
    }
  }
}

@media (min-width: $desktopWidth) {
  .categories {
    h2 {
      font-size: 30px;
      line-height: 35px;
    }
  }

  .categories__main-block {
    column-gap: 0;
    justify-content: space-between;
    margin-top: 24px;
  }

  .categories__block {
    width: 557px;
    height: 270px;
  }
}
