.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  z-index: 3;

  &--open {
    .main-nav__nav-button {
      span {
        &:nth-of-type(1) {
          animation: ease 0.5s topOpen forwards;
        }

        &:nth-of-type(2) {
          animation: ease 0.5s mdlOpen forwards;
        }

        &:nth-of-type(3) {
          animation: ease 0.5s btmOpen forwards;
        }
      }
    }

    .main-nav__nav-list {
      transform: translateX(0);
      transition: 0.4s;
    }
  }
}

.main-nav__nav-head {
  display: flex;
  column-gap: 60px;
  width: 330px;
  background-color: $white;
  margin: 0 auto;
  padding: 10px 15px;
}

.main-nav__nav-button {
  align-self: center;
  width: 29px;
  height: 19px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $red;

    &:nth-of-type(1) {
      animation: ease 0.5s topClose forwards;
    }

    &:nth-of-type(2) {
      animation: ease 0.5s mdlClose forwards;
    }

    &:nth-of-type(3) {
      animation: ease 0.5s btmClose forwards;
    }
  }

  span + span {
    margin-top: 7px;
  }
}

.main-nav__form-search,
.main-nav__profile,
.main-nav__favorites {
  display: none;
}

.main-nav__logo {
  display: block;
  width: 147px;
  height: 64px;
  background: url("../img/logo.png") no-repeat;

  @media (min-resolution: 2dppx) {
    background: url("../img/logo@2x.png") no-repeat;
    background-size: 147px 64px;
  }
}

.main-nav__nav-block {
  display: flex;
}

.main-nav__shop {
  align-self: center;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/mobile/shop.svg") no-repeat;
}

.main-nav__nav-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 84px;
  left: 0;
  right: 0;
  background-color: $white;
  transform: translateX(-100%);
  list-style: none;
  margin: 0;
  padding: 20px 15px;
  transition: 0.4s;
}

.main-nav__nav-item {
  &:not(:first-of-type) {
    margin-top: 15px;
  }

  a {
    letter-spacing: 1px;
    text-decoration: none;
    color: $black;
    transition: 0.4s;

    &:hover,
    &:focus {
      color: $red;
      transition: 0.4s;
    }
  }
}

@media (min-width: $tabletWidth) {
  .main-nav__nav-head {
    justify-content: space-between;
    column-gap: 0;
    width: 580px;
    padding: 10px 40px;
  }
}

@media (min-width: $desktopWidth) {
  .main-nav__nav-head {
    width: 1160px;
    padding: 30px 80px 0 80px;
  }

  .main-nav__nav-button {
    display: none;
  }

  .main-nav__nav-list {
    position: static;
    transform: translateX(0);
    flex-direction: row;
    column-gap: 50px;
    width: 1020px;
    margin: 0 auto;
    padding: 25px 0;
  }

  .main-nav__nav-item {
    &+.main-nav__nav-item {
      margin-top: 0;
    }
  }

  .main-nav__form-search {
    display: block;
    align-self: center;

    fieldset {
      display: flex;
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  .main-nav__search {
    width: 459px;
    height: 41px;
    padding: 11px 11px 11px 21px;
    border: 1px solid $black;

    &::placeholder {
      color: $black;
    }
  }

  .main-nav__search-button {
    font-weight: 700;
    width: 116px;
    height: 41px;
    background-color: $black;
    color: $white;
    border: none;
    cursor: pointer;
    transition: 0.4s;

    &:hover,
    &:focus {
      opacity: 0.7;
      transition: 0.4s;
    }
  }

  .main-nav__nav-block {
    width: 151px;
    align-items: center;
    justify-content: space-between;

    a {
      transition: 0.4s;

      &:hover,
      &:focus {
      opacity: 0.7;
      transition: 0.4s;
    }
    }
  }

  .main-nav__profile {
    display: block;
    width: 24px;
    height: 26px;
    background: url("../img/desktop/profile.svg") no-repeat;
  }

  .main-nav__favorites {
    display: block;
    width: 28px;
    height: 26px;
    background: url("../img/desktop/favorites.svg") no-repeat;
  }

  .main-nav__shop {
    background: url("../img/desktop/shop.svg") no-repeat;
  }
}
