.map {
  display: flex;
  flex-direction: column;
  background-color: $grey4;
  min-width: 360px;
  margin-top: 45px;

  img {
    display: block;
    object-fit: cover;
    margin: 0 auto;
  }
}

.map__contacts {
  background-color: $grey4;
  margin-top: -4px;
}

.map__contacts-info {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin: 0 auto;
  padding: 42px 15px 38px 15px;

  h3 {
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    &:first-of-type {
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 25px;
    }

    &:nth-of-type(2) {
      margin: 0;
    }
  }
}

.map__links-block {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  margin-top: 50px;
  margin-bottom: 33px;
  padding-left: 43px;

  a {
    font-weight: 700;
    text-decoration: none;
    position: relative;
    color: $black;
    transition: 0.4s;

    &:hover,
    &:focus {
      opacity: 0.8;
      transition: 0.4s;
    }
  }
}

.map__link-phone {
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -43px;
    width: 25px;
    height: 25px;
    background: url("../img/phone.svg") no-repeat;
  }
}

.map__link-mail {
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -43px;
    width: 25px;
    height: 25px;
    background: url("../img/mail.svg") no-repeat;
  }
}

.map__feedback-button {
  letter-spacing: 1px;
  width: 251px;
  height: 51px;
  background-color: $red2;
  color: $white;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.4s;

  &:hover,
  &:focus {
    opacity: 0.6;
    transition: 0.4s;
  }
}

.map__decoration {
  &--underline {
    text-decoration: underline;
  }
}

@media (min-width: $tabletWidth) {
  .map {
    margin-top: 60px;

    img {
      width: 660px;
      height: 320px;
    }
  }

  .map__contacts-info {
    width: 580px;
    padding: 42px 40px 38px 40px;
  }
}

@media (min-width: $desktopWidth) {
  .map {
    flex-direction: row;

    img {
      width: 795px;
      height: 409px;
    }
  }

  .map__contacts {
    order: -1;
    margin-top: 0;
  }

  .map__contacts-info {
    width: 400px;
    padding-left: 130px;
  }
}
