.container {
  width: 330px;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: $tabletWidth) {
    width: 580px;
    padding: 0 40px;
  }

  @media (min-width: $desktopWidth) {
    width: 1160px;
    padding: 0 100px;
  }
}
