//colors
$white: #ffffff;
$black: #000000;
$grey: #f0f0f0;
$grey2: #424242;
$grey3: #efefef;
$grey4: #f5f5f5;
$grey5: #575757;
$red: #dd001a;
$red2: #e80a1f;
$purple: #22222f;

//widths
$tabletWidth: 660px;
$desktopWidth: 1360px;
